<ion-header>
  <ion-toolbar text-center>
    <ion-title>
      Tasks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="boards$ | async as boards">
    <h2>Boards</h2>
    <div *ngFor="let board of boards">
      {{ board.title }}
    </div>
  </ng-container>

  <ng-container *ngIf="tasks$ | async as tasks">
    <h2>Tasks</h2>
    <div *ngFor="let task of tasks">
      {{ task.title }}
      {{ task.period }}
      {{ task.isDone }}
      <button (click)="deleteTask(task.id)">delete</button>
      <button (click)="completeTask(task.id)">complete</button>
    </div>
    <button (click)="addTask()">add</button>
  </ng-container>
</ion-content>
