<ion-tabs (ionTabsDidChange)="onTabChange($event)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="todays">
      <ion-icon [src]="'assets/icon/today.svg'"></ion-icon>
      <ion-label>Today's</ion-label>
      <div class="selected-background" [class.is-selected]="activeTab === 'todays'"></div>
    </ion-tab-button>

    <ion-tab-button tab="tasks">
      <ion-icon [src]="'assets/icon/checkbox.svg'"></ion-icon>
      <ion-label>Tasks</ion-label>
      <div class="selected-background" [class.is-selected]="activeTab === 'tasks'"></div>
    </ion-tab-button>

    <ion-tab-button tab="reminders">
      <ion-icon [src]="'assets/icon/notifications.svg'"></ion-icon>
      <ion-label>Reminders</ion-label>
      <div class="selected-background" [class.is-selected]="activeTab === 'reminders'"></div>
    </ion-tab-button>

    <ion-tab-button tab="setting">
      <ion-icon [src]="'assets/icon/settings.svg'"></ion-icon>
      <ion-label>Setting</ion-label>
      <div class="selected-background" [class.is-selected]="activeTab === 'setting'"></div>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
